.messages {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.messages {
    flex-grow: 1;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    background: rgb(35, 35, 35);
    padding: 35px;
}

.message {
    /*width: max-content;*/
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
}

.text {
    padding: 10px;
    border-radius: 12px;
    font-size: 15px;
    color: #fff;
}

.user {
    align-items: flex-start;
    font-size: 14px;
    color: rgb(176, 176, 176);
}

.user .text {
    background: #514c4c;
}

.user .user {
    padding-left: 10px;
}

.me {
    align-items: flex-end;
}

.me .text {
    background: #0d49d7;
}

.me .user {
    padding-right: 10px;
}